# DB
DB_NAME=<your_database_name>
DB_USER=<your_database_admin_username>
DB_PASSWORD=<your_database_user_password>
DB_HOST=<your_database_host>
DB_PORT=<your_database_port>
# SMTP Server
SMTP_HOST=<smtp_development_server_host>
SMTP_PORT=<smtp_development_server_port>
# Celery
CELERY_BROKER_URL=<celery_message_broker>
CELERY_BACKEND_RESULT=<celery_backend_result>
# JWT
JWT_SECRET_KEY=<jwt_secret_key>
# AWS
AWS_ACCESS_KEY_ID=<your_access_key_id>
AWS_SECRET_ACCESS_KEY=<your_secret_access_key>
AWS_REGION_NAME=<your_region>
AWS_BUCKET_NAME=<your_bucket_name>
